// colors
$tundora: #484848;
$tundora-tras: #4848487a;
$white: #ffffff;
$gumbo: #7f9ea8;
$bay: #79b27b;
$bay-hover: #48644b;
$athens: #e5e8eb;
$black: #040b11;

// mixin
@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin buttonOne {
  border: none;
  padding: 15px 20px;
  color: $white;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: $bay;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background-color: $bay-hover;
  }
}

@mixin buttonTwo {
  background-color: transparent;
  border: 3px solid $gumbo;
  padding: 10px 20px;
  border-radius: 15px;
  color: $gumbo;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    border: 3px solid $bay;
    color: $bay;
  }
}

@mixin card {
  text-align: center;
  padding: 45px 0;
  background-color: $white;
  border-top: 5px solid $bay;
  border-radius: 10px;
  color: $gumbo;
  box-shadow: 0px 10px 15px 8px rgba(0, 0, 0, 0.1);
}
