// colors
$tundora: #484848;
$tundora-tras: #4848487a;
$white: #ffffff;
$gumbo: #7f9ea8;
$bay: #79b27b;
$athens: #e5e8eb;

// mixin
@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
